* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  background-color: #3564ae;
  background-image: url("https://i.pinimg.com/originals/66/89/dc/6689dc331be27e66349ce9a4d15ddff3.gif");
  background-size: 125px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-dir {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
}

.col-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}

.col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.col-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.col-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
}

.col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
}

.col-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
}

.col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.col-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
}

.col-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
}

.col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

li {
  list-style-position: inside;
}

.list-item {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #3564ae;
  color: white;
  border: 3px solid #ffcb05;
  border-radius: 15px;
  margin: 5px 0px 5px 0px;
  padding: 10px;
}

.list-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.box {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #000022;
  color: white;
  border: 4px solid white;
  text-align: start;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  min-width: 200px;
  width: 200px;
  height: 200px;
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180px;
}

.box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.box-large {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #000022;
  color: white;
  border: 4px solid white;
  text-align: start;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  height: 150px;
  max-width: 300px;
  font-weight: bold;
}

.box-large:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.box-large span {
  border-radius: 3px;
  padding: 3px;
  background-color: rgba(79, 79, 79, 0.5);
}

.generic-box {
  color: white;
  border-color: #ffcb05;
  background-color: #3564ae;
}

.green-box {
  color: darkgreen;
  border-color: darkgreen;
  background-color: lightgreen;
}

.red-box {
  color: red;
  border-color: red;
  background-color: lightsalmon;
}

.blue-box {
  color: #000022;
  border-color: #000022;
  background-color: lightblue;
}

.yellow-box {
  color: #806600;
  border-color: #ffcb05;
  background-color: #ffff83;
}

.inactive-box {
  border-color: #ffcb05;
}

.menu #pkms-btn {
  background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png");
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
}

.menu #types-btn {
  background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png");
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
}

.menu #ab-btn {
  background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png");
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
}

.menu #items-btn {
  background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png");
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 724px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .box-large {
    max-width: none;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .menu .box-large:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  .box {
    height: 100px;
    background-position: 55px;
    background-size: 200px;
  }
}

@media only screen and (min-width: 725px) {
  .menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu .box-large {
    max-width: 300px;
    width: 300px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .menu .box-large:hover {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  .box {
    height: 200px;
    background-position: center;
    background-size: 180px;
  }
}

@media only screen and (min-width: 1100px) {
  .menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=style.css.map */