$dark_blue: rgb(0, 0, 34);
$blue: rgb(53, 100, 174);
$yellow: rgb(255, 203, 5);
$white: white;

$box-size: 200px;

$columns: 12;

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    text-decoration: none;
    //outline: 1px solid red;
}

body {
    background-color: $blue;
    background-image: url("https://i.pinimg.com/originals/66/89/dc/6689dc331be27e66349ce9a4d15ddff3.gif");
    background-size: 125px;
}

////////////////Grid////////////////
.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@for $width from 1 through $columns {
    .col-#{$width} {
        flex-basis: $width / $columns * 100%;
    }
}

////////////////////////////////////

/////////Lista de elementos/////////
li {
    list-style-position: inside;
}

.list-item {
    transition: .5s ease;
    background-color: $dark_blue;
    color: white;
    border: 3px solid $white;
    border-radius: 15px;
    margin: 5px 0px 5px 0px;
    padding: 10px;

    &:hover {
        transform: scale(1.05);
    }
}

////////////////////////////////////

/////////Cajas de elementos/////////
@mixin box-base {
    transition: .5s ease;
    background-color: $dark_blue;
    color: white;
    border: 4px solid $white;
    text-align: start;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
}

.box {
    @include box-base;
    min-width: 200px;
    width: $box-size;
    height: $box-size;
    font-weight: bold;
    //background-image: url("http://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/1.png");
    background-size: cover;

    &:hover {
        transform: scale(1.1);
    }
}

.box-large {
    @include box-base;
    width: $box-size;
    height: $box-size;
    background-image: url("http://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/1.png");
    background-size: cover;

    &:hover {
        transform: scale(1.1);
    }
}

////////////////////////////////////

///////////Temas de cajas///////////
.generic-box {
    color: $white;
    border-color: yellow;
    background-color: $dark_blue;
}

.green-box {
    color: darkgreen;
    border-color: darkviolet;
    background-color: lightgreen;
}

.red-box {
    color: red;
    border-color: red;
    background-color: lightsalmon;
}

////////////////////////////////////