$letter: rgb(25, 19, 182);
$blue-element: rgb(104, 155, 255);
$pink-element: rgb(253, 154, 152);
$yellow-element: rgb(254, 203, 0);
$green-element: rgb(31, 202, 33);
$bg_color: rgb(238, 238, 238);

$box_dimension: 60px;
$box_space_border: 0.5px solid $bg_color;

$columns: 21; // Number of columns in the grid system