$primary_color: #070727;
$secondary_color: white;
$hover_color: rgba(53, 57, 63, 0.61);
$focus_color: rgba(99, 107, 119, 0.61);
$search_border: green;

$navigation_color: blue;
$content_color: red;
$subcontent_color: yellow;
$subcontent_bottom_color: darkmagenta;

$columns: 16;